In [ ]:
print(3 > 2 and 4 < 5)

In [ ]:
print(3 < 4 or ("Hola" > "Python" and 4 == 4))
print("Hola" < "Python" and 4 == 4)

In [ ]:
variable = "adolfo"
print(len(variable))
variable2 = "lopez"
print(f'Mi nombre es {variable} {variable2}')
print("\tadolfo\nlopez")

In [ ]:
nombre, apellido, edad = "Adolfo", "Lopez", 36
print("Hola me llamo {} {} y tengo {} anos".format(nombre, apellido, edad))
print("Hola me llamo %s %s y tengo %d anos" % (nombre, apellido, edad))

In [ ]:
print("Que pasa peña".startswith("Qué pasa"))

In [ ]:
name = "Adolfo"
print(name.startswith("Ad"))

In [ ]:
print("Probando subir a la nube")

In [ ]:
### Listas ###

my_list = list()
my_list = [36, 1.73, "Adolfo", "Lopez"]

print(my_list)
print(len(my_list))
print(type(my_list))

print(my_list[0])
print(my_list.count("Adolfo")) # Cuenta cuantas veces aparece un elemento en la lista
print(my_list.index("Adolfo")) # Devuelve el indice de un elemento en la lista
print(my_list.index("Adolfo", 1)) # Devuelve el indice de un elemento en la lista a partir de un indice

edad, altura, nombre, apellido = my_list

print(apellido)

my_2list = [6, 1.18, "Jaime", "Lopez"]

print(my_list + my_2list)
print(my_2list + my_list)
print(my_list * 2)

my_2list.append("Salesianos") # Añade un elemento al final de la lista
print(my_2list)

my_2list.insert(2, "pokemon") # Añade un elemento en la posicion indicada
print(my_2list)

my_2list[2] = "kirby" # Modifica el elemento en la posicion indicada
my_2list.remove("Salesianos") # Elimina el primer elemento que coincida con el parametro
print(my_2list)

[36, 1.73, 'Adolfo', 'Lopez']
4
<class 'list'>
36
1
2
2
Lopez
[36, 1.73, 'Adolfo', 'Lopez', 6, 1.18, 'Jaime', 'Lopez']
[6, 1.18, 'Jaime', 'Lopez', 36, 1.73, 'Adolfo', 'Lopez']
[36, 1.73, 'Adolfo', 'Lopez', 36, 1.73, 'Adolfo', 'Lopez']
[6, 1.18, 'Jaime', 'Lopez', 'Salesianos']
[6, 1.18, 'pokemon', 'Jaime', 'Lopez', 'Salesianos']
[6, 1.18, 'kirby', 'Jaime', 'Lopez']

In [ ]:
list_int = [8, 7, 4, 4, 5, 6, 7]
print(list_int)

print(list_int.pop()) # Elimina el ultimo elemento de la lista
print(list_int)

print(list_int.pop(4)) # Elimina el elemento de la posicion indicada
print(list_int)

variablepop = list_int.pop(4)
print(variablepop)

del list_int[0] # Elimina el elemento de la posicion indicada
print(list_int)

list_int = [8, 7, 4, 4, 5, 6, 7]
print(list_int)

my_new_list = list_int.copy() # Copia la lista
list_int.clear() # Elimina todos los elementos de la lista
print(my_new_list)

my_new_list.reverse() # Invierte el orden de los elementos de la lista
print(my_new_list)

my_new_list.sort() # Ordena los elementos de forma ascendente
print(my_new_list)

In [ ]:
list_int = [8, 7, 4, 4, 5, 6, 7]
print(list_int[1:4]) # Devuelve los elementos de la posicion 1 a la 4 sin incluir la 1
print(list_int[0:4])

In [ ]:
nacimiento = input("Introduce tu año de nacimiento")
print({nacimiento})

In [21]:
tupla = tuple()
mi_tupla = ("pera", "naranja", "manzana", "fresa", "pera")
print(mi_tupla)

print(mi_tupla.count("pera"))
print(mi_tupla.index("fresa"))
print(mi_tupla[3])

otra_tupla = ("tomate", "pimiento", "cebolla", "calabaza")
sumatupla = mi_tupla + otra_tupla
print(sumatupla)

print(sumatupla[2:6])

mi_tupla = list(mi_tupla) # Convierto en lista
print(type(mi_tupla))

mi_tupla.insert(3, "sandia") #Convertido en lista si podemos anadir valores
print(mi_tupla)
print(len(mi_tupla))

del mi_tupla
# print(mi_tupla)    -----> NameError: name 'mi_tupla' is not defined

('pera', 'naranja', 'manzana', 'fresa', 'pera')
2
3
fresa
('pera', 'naranja', 'manzana', 'fresa', 'pera', 'tomate', 'pimiento', 'cebolla', 'calabaza')
('manzana', 'fresa', 'pera', 'tomate')
<class 'list'>
['pera', 'naranja', 'manzana', 'sandia', 'fresa', 'pera']
6